@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background: transparent !important;
    margin-top:30px;
    font-family: 'Poppins', sans-serif;
}

#cardsDisplay { 
    overflow-y: scroll;
    max-height: 560px;
    max-width:500px;
}


#cardsDisplay::-webkit-scrollbar-track
{
    background-color: none;
    border: none;
}

#cardsDisplay::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0)
}

#cardsDisplay::-webkit-scrollbar-thumb
 {
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(31, 31, 31)
}

#cardSelector {
    background-color: #30475c;
    border-radius: 10px;
}

#pinContainer {
    background-color: #30475c;
    border-radius: 10px;
}

#bankingContainer {
    background: #30475c!important;
    border-radius: 10px;
    min-height:800px;
    max-height:800px;
    display:none;
}

/* atm home screen */
#ATMContainer {
    background: #30475c !important;
    border-radius: 10px;
    min-height:800px;
    max-height:800px;
    display:none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #0077ff;
}

a {
    color: #0077ff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0077ff;
    text-decoration: underline;
}

.btn-secondary2 {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary2:hover {
    color: #fff;
    background-color: #5c6166;
    border-color: #5c6166;
}

.btn-secondary2.focus,
.btn-secondary2:focus {
    box-shadow: 0 0 0 0.2rem #6c757d83; 
}

.btn-secondary2.disabled,
.btn-secondary2:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary2:not(:disabled):not(.disabled).active,
.btn-secondary2:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary2:not(:disabled):not(.disabled).active:focus,
.btn-secondary2:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #6c757d83;
}


.statement:hover {
    background: rgb(26, 26, 26) !important;
}

#v-pills-tabContent, #v-pills-tabContent-atm {
    overflow-y: scroll;
    min-height:100%;
}

#v-pills-tabContent::-webkit-scrollbar-track, #v-pills-tabContent-atm::-webkit-scrollbar-track {
    background-color:transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar-thumb, #v-pills-tabContent-atm::-webkit-scrollbar-thumb {
    background-color:transparent;
    border:none;
}

#v-pills-tabContent::-webkit-scrollbar, #v-pills-tabContent-atm::-webkit-scrollbar {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:transparent;
}

/* Main Buttons*/

.btn-primary {
    color: #fff;
    background-color: #1a85ff;
    border-color: #1c68be;
}

.btn-primary:hover {
    background-color: #1c68be;
    border-color: #1c68be;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #1c68be;
  border-color: #1c68be;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1c68be;
  border-color: #1c68be;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #1c68be;
}

.btn-secondary {
    color: #fff;
    background-color: #7a7e83; 
    border-color: #7a7e83;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #515151;
    border-color: #515151;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #1d7c33;
    border-color: #1d7c33;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #1c7531;
    border-color: #1c7531;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1d7c33;
    border-color: #1d7c33;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info {
    color: #ffffff;
    background-color: #05b3ca;
    border-color: #05b3ca;
}
.btn-info:hover {
    color: #ffffff;
    background-color: #068fa1;
    border-color: #068fa1;
}

.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 0.2rem #068fa186;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff;
    background-color: #068fa1;
    border-color: #068fa1;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: #ffffff;
    background-color: #05b3ca;
    border-color: #05b3ca;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #068fa186;
}

.btn-warning {
    color: rgb(8, 8, 8);
    background-color: #f0c91b;
    border-color: #f0c91b;
}

.btn-warning:hover {
    color: rgb(5, 5, 5);
    background-color: #dbb920;
    border-color: #dbb920;
}
.btn-warning.focus,
.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
    color: #fff;
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #5f5f5f;
    border-color: #5f5f5f;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}
.btn-danger1 {
    color: #fff;
    background-color: #e74349;
    border-color: #e74349;
}
.btn-danger1:hover {
    color: #fff;
    background-color: #b94c4f;
    border-color: #b94c4f;
}
.btn-danger1.focus,
.btn-danger1:focus {
    box-shadow: 0 0 0 0.2rem #9b3c3f91; 
}
.btn-danger1.disabled,
.btn-danger1:disabled {
    color: #fff;
    background-color: #e74349;
    border-color: #e74349;
}
.btn-danger1:not(:disabled):not(.disabled).active,
.btn-danger1:not(:disabled):not(.disabled):active,
.show > .btn-danger1.dropdown-toggle {
    color: #fff;
    background-color: #b94c4f;
    border-color: #b94c4f;
}

.btn-danger1:not(:disabled):not(.disabled).active:focus,
.btn-danger1:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #9b3c3f91;
}

.btn-danger2 {
    color: #fff;
    background-color: #e74349;
    border-color: #e74349;
}
.btn-danger2:hover {
    color: #fff;
    background-color: #b94c4f;
    border-color: #b94c4f;
}
.btn-danger2.focus,
.btn-danger2:focus {
    box-shadow: 0 0 0 0.2rem #9b3c3f91; 
}
.btn-danger2.btn-danger,
.btn-danger2:disabled {
    color: #fff;
    background-color: #e74349;
    border-color: #e74349;
}
.btn-danger2:not(:disabled):not(.disabled).active,
.btn-danger2:not(:disabled):not(.disabled):active,
.show > .btn-danger2.dropdown-toggle {
    color: #fff;
    background-color: #b94c4f;
    border-color: #b94c4f;
}

.btn-danger2:not(:disabled):not(.disabled).active:focus,
.btn-danger2:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #9b3c3f91;
}

.btn-danger {
    color: #fff;
    background-color: #f2a367;
    border-color: #f2a367;
}
.btn-danger:hover {
    color: #fff;
    background-color: #f2a367;
    border-color: #f2a367;
}
.btn-danger.focus,
.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem #f2a367; 
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #f2a367;
    border-color: #f2a367;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f2a367;
    border-color: #f2a367;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #f2a367;
}
